<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>پنل کاربری</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=0.86, maximum-scale=5.0, minimum-scale=0.86"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link rel="stylesheet" href="/stylesheets/dashboard/adminlte.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/dashboard/custom.css" />
  </head>
  <body class="hold-transition sidebar-mini">
    <div class="wrapper">
      <%- include('partials/dashboard-navbar') %> <%-
      include('partials/sidebar') %>

      <div class="content-wrapper">
        <section class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h3 class="d-inline-block ml-2">مقالات</h3>
                <span class="d-inline-block ml-1">صفحه</span
                ><span class="d-inline-block" id="articleSpan">1</span>
              </div>

              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-left">
                  <li class="breadcrumb-item"><a href="#">خانه</a></li>
                  <li class="breadcrumb-item active">داشبورد</li>
                </ol>
              </div>
            </div>
          </div>
          <% if (msg === "successfully") { %>
          <div class="alert alert-success w-25" role="alert" id="alertSuccess">
            با موفقیت اضافه شد.
          </div>
          <% } %>
        </section>

        <section class="content">
          <div class="container">
            <div class="card-deck row">
              <% for( let index = 0; index < articles.length; index++ ) { %>
              <div class="col-10 col-sm-6 col-lg-4 mx-auto">
                <div class="card">
                  <img
                    class="card-img-top"
                    src="/images/articles/<%= articles[index].picture %>"
                    alt="Card image cap"
                    width="362px"
                    height="180px"
                  />
                  <div class="card-body">
                    <div class="mb-3 text-center">
                      <small class="text-muted">
                        <i class="fas fa-user ml-1"></i> <%=
                        articles[index].author.firstName %> <%=
                        articles[index].author.lastName %></small
                      >
                    </div>

                    <h3 class="card-title font-weight-bold">
                      <%= articles[index].title %>
                    </h3>
                    <br />
                    <p class="card-text"><%= articles[index].brief %></p>
                  </div>
                  <div class="card-footer">
                    <small class="text-muted float-left"
                      ><%= createTime[index].time %> - <%=
                      createTime[index].date %></small
                    >
                    <small class="float-right"
                      ><a href="/user/article/view/<%= articles[index]._id %>"
                        >بیشتر بخوانید...</a
                      ></small
                    >
                  </div>
                </div>
              </div>
              <% } %>
            </div>
          </div>
          <p id="allArticle" class="d-none"><%= arts %></p>
          <nav aria-label="Page navigation example d-flex">
            <ul
              class="pagination justify-content-center mt-5 mb-5"
              id="pagination"
            ></ul>
          </nav>
        </section>
      </div>

      <%- include('partials/dashboard-footer') %>

      <aside
        class="control-sidebar control-sidebar-dark control-sidebar-animate"
      ></aside>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script src="/javascripts/dashboard/adminlte.js"></script>
    <script src="/javascripts/dashboard/demo.js"></script>
    <script src="/javascripts/dashboard/moment.min.js"></script>
    <script src="/javascripts/dashboard/moment-jalaali.js"></script>
    <script src="/javascripts/dashboard/date.js"></script>
    <script src="/javascripts/dashboard/main.js"></script>
  </body>
</html>
