<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title><%= article.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link rel="stylesheet" href="/stylesheets/dashboard/adminlte.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/dashboard/custom.css" />
    <script src="/ckeditor/ckeditor.js"></script>
  </head>
  <body class="hold-transition sidebar-mini">
    <div class="wrapper">
      <%- include('partials/dashboard-navbar') %> <%-
      include('partials/sidebar') %>

      <div class="content-wrapper">
        <section class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6"></div>
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-left">
                  <li class="breadcrumb-item">
                    <a href="/user/dashboard">داشبورد</a>
                  </li>
                  <li class="breadcrumb-item active"><%= article.title %></li>
                </ol>
              </div>
            </div>
          </div>
        </section>

        <section class="content m-auto text-center">
          <div class="container">
            <div class="row">
              <!-- Post Content Column -->
              <div class="col-lg-12">
                <!-- Title -->
                <h1 class="mt-4"><%= article.title %></h1>

                <!-- Author -->
                <p class="lead">
                  نویسنده:
                  <a href="#"
                    ><%= article.author.firstName %> <%= article.author.lastName
                    %>
                  </a>
                  <% if (user.avatar === "default") { %>
                  <img
                    src="/images/avatar.png"
                    alt="تصویر پروفایل نویسنده"
                    style="
                      width: 30px !important;
                      border-radius: 50% !important;
                    "
                  />
                  <%} else { %>
                  <img
                    src="/images/avatars/<%= article.author.avatar %> "
                    alt="تصویر پروفایل نویسنده"
                    style="
                      width: 30px !important;
                      border-radius: 50% !important;
                    "
                  />
                  <% } %>
                </p>

                <hr />
                <div class="d-flex justify-content-between">
                  <div class="">
                    <h5 class="float-right"><%= article.brief %></h5>
                    <br />

                    <p class="float-right text-muted">
                      ارسال شده در تاریخ: <%= createTime.date %> ساعت : <%=
                      createTime.time %>
                    </p>
                  </div>

                  <div class="">
                    <img
                      class="img-fluid rounded"
                      src="/images/articles/<%= article.picture %>"
                      alt="تصویر پست مقاله"
                      style="width: 140px !important; height: 80px !important"
                    />
                  </div>
                </div>

                <hr />

                <!-- Preview Image -->

                <div class="mx-auto d-none" id="describe">
                  <%= article.describe %>
                </div>
                <div id="desc"></div>

                <!-- Post Content -->
              </div>
            </div>
          </div>
          <!-- /.row -->
        </section>
      </div>

      <%- include('partials/dashboard-footer') %>

      <aside
        class="control-sidebar control-sidebar-dark control-sidebar-animate"
      ></aside>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script src="/javascripts/dashboard/adminlte.js"></script>
    <script src="/javascripts/dashboard/demo.js"></script>
    <script src="/javascripts/dashboard/moment.min.js"></script>
    <script src="/javascripts/dashboard/moment-jalaali.js"></script>
    <script src="/javascripts/dashboard/date.js"></script>
    <script>
      $(document).ready(() => {
        let a = $("#describe").text();
        console.log(a);
        $("#desc").html(a);
      });
    </script>
  </body>
</html>
