<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>ویرایش مشخصات</title>
    <%- include('../partials/dashboard/scripts-header') %>
  </head>
  <body class="hold-transition sidebar-mini">
    <div class="wrapper">
      <%- include('../partials/dashboard/navbar') %> <%-
      include('../partials/dashboard/sidebar') %>

      <div class="content-wrapper">
        <section class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h3>ویرایش مشخصات</h3>
              </div>
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-left d-none d-lg-flex">
                  <li class="breadcrumb-item">
                    <a href="/user/dashboard">داشبورد</a>
                  </li>
                  <li class="breadcrumb-item active">ویرایش مشخصات</li>
                </ol>
              </div>
            </div>
          </div>
        </section>

        <section class="content">
          <div class="text-center w-50 m-auto">
            <div class="mt-5">
              <form
                action="/user?_method=PUT"
                method="post"
                enctype="application/x-www-form-urlencoded"
              >
                <input type="hidden" name="_method" value="PUT" />
                <% if (success) { %>
                <div
                  class="col-10 col-lg-6 alert alert-success alert-dismissible fade show w-75 text-right mx-auto"
                  role="alert"
                >
                  <button
                    type="button"
                    class="close"
                    data-dismiss="alert"
                    aria-label="Close"
                  >
                    <span aria-hidden="true">&times;</span>
                  </button>
                  <%= success %>
                </div>
                <% } %> <% if (invalid) { %>
                <div
                  class="col-10 col-lg-6 alert alert-danger alert-dismissible fade show w-75 text-right mx-auto"
                  role="alert"
                >
                  <button
                    type="button"
                    class="close"
                    data-dismiss="alert"
                    aria-label="Close"
                  >
                    <span aria-hidden="true">&times;</span>
                  </button>
                  <%= invalid %>
                </div>
                <% } %><% if(messages) { %>
                <div
                  class="col-10 col-lg-6 alert alert-danger alert-dismissible fade show w-75 text-right mx-auto"
                >
                  <button
                    type="button"
                    class="close"
                    data-dismiss="alert"
                    aria-label="Close"
                  >
                    <span>×</span>
                  </button>
                  <% messages.forEach(msg =>{ %> <%- msg %> <br />
                  <% }) %>
                </div>
                <% } %>
                <div class="form-group row">
                  <label for="firstName" class="col-sm-2 col-form-label"
                    >نام</label
                  >
                  <div class="col-sm-10">
                    <input
                      type="text"
                      class="form-control plc"
                      id="firstName"
                      name="firstName"
                      value="<%= user.firstName %>"
                      required
                    />
                  </div>
                </div>
                <div class="form-group row">
                  <label for="lastName" class="col-sm-2 col-form-label"
                    >نام خانوادگی</label
                  >
                  <div class="col-sm-10">
                    <input
                      type="text"
                      class="form-control plc"
                      id="lastName"
                      name="lastName"
                      value="<%= user.lastName %>"
                      required
                    />
                  </div>
                </div>
                <div class="form-group row">
                  <label for="email" class="col-sm-2 col-form-label"
                    >آدرس ایمیل</label
                  >
                  <div class="col-sm-10">
                    <input
                      type="text"
                      readonly
                      disabled
                      class="form-control-plaintext"
                      id="email"
                      name="email"
                      value="<%= user.email %>"
                    />
                  </div>
                </div>
                <div class="form-group row">
                  <label for="username" class="col-sm-2 col-form-label"
                    >نام کاربری</label
                  >
                  <div class="col-sm-10">
                    <input
                      type="text"
                      readonly
                      disabled
                      class="form-control-plaintext"
                      id="username"
                      value="<%= user.username %>"
                    />
                  </div>
                  <input
                    type="text"
                    class="d-none"
                    value="<%= user.username %>"
                    name="username"
                  />
                  <input
                    type="text"
                    class="d-none"
                    value="<%= user.email %>"
                    name="email"
                  />
                </div>
                <div class="form-group row">
                  <label for="gender" class="col-sm-2 col-form-label"
                    >جنسیت</label
                  >
                  <div class="col-sm-10">
                    <% if (user.gender === 'male') { %>
                    <select
                      class="custom-select d-inline-block"
                      id="gender2"
                      name="gender"
                    >
                      <option value="male" selected>مرد</option>
                      <option value="female">زن</option>
                    </select>
                    <%} else { %>
                    <select
                      class="custom-select d-inline-block"
                      id="gender2"
                      name="gender"
                    >
                      <option value="female" selected>زن</option>
                      <option value="male">مرد</option>
                    </select>
                    <% } %>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="mobileNumber" class="col-sm-2 col-form-label"
                    >شماره موبایل</label
                  >
                  <div class="col-sm-10">
                    <input
                      type="text"
                      class="form-control plc"
                      id="mobileNumber"
                      name="mobileNumber"
                      value="<%= user.mobileNumber %>"
                      required
                    />
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputPassword" class="col-sm-2 col-form-label"
                    >نقش</label
                  >
                  <div class="col-sm-10">
                    <% if (user.role === 'admin') { %>
                    <input
                      type="text"
                      readonly
                      disabled
                      class="form-control-plaintext"
                      id="inputPassword"
                      value="مدیر"
                    />
                    <%} else { %>
                    <input
                      type="text"
                      readonly
                      disabled
                      class="form-control-plaintext"
                      id="inputPassword"
                      value="نویسنده"
                    />
                    <% } %>
                  </div>
                </div>
                <input
                  type="text"
                  class="d-none"
                  name="lastUpdate"
                  id="lastUpdate"
                  value="<%= Date.now() %>"
                />
                <div class="form-group row float-left" style="font-size: 14px">
                  <p class="font-weight-bolder">
                    آخرین ویرایش:
                    <span class="font-weight-lighter"
                      ><%= user.lastUpdateDate %></span
                    >
                  </p>
                </div>
                <input
                  type="submit"
                  class="d-none"
                  value="submit"
                  id="submitBtn"
                />
              </form>
              <div class="d-inline-block mb-4 mt-5">
                <button type="submit" class="btn btn-primary" id="editBtn">
                  ویرایش
                </button>
                <button type="submit" class="btn btn-secondary" id="cancelBtn">
                  لغو
                </button>
              </div>
            </div>
          </div>
        </section>
      </div>

      <%- include('../partials/dashboard/footer') %>

      <aside
        class="control-sidebar control-sidebar-dark control-sidebar-animate"
      ></aside>
    </div>
    <%- include('../partials/dashboard/scripts-footer') %>
    <script>
      $(document).ready(() => {
        $(".alert")
          .fadeTo(4000, 500)
          .slideUp(500, function () {
            $(".alert").slideUp(500);
          });
        $("#editBtn").click(() => {
          $("input").each(function () {
            if (!$(this).val()) {
              $(this).attr("placeholder", "* الزامی");
            } else {
              $("#submitBtn").click();
            }
          });
        });
        $("#cancelBtn").click(() => {
          location.reload();
        });
      });
    </script>
  </body>
</html>
