<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>تغییر آواتار</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <%- include('../partials/dashboard/scripts-header') %>
    <link rel="stylesheet" href="/stylesheets/dashboard/addPicture.css">
  </head>
  <body class="hold-transition sidebar-mini">
    <div class="wrapper">
      <%- include('../partials/dashboard/navbar') %> <%-
      include('../partials/dashboard/sidebar') %>

      <div class="content-wrapper">
        <section class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h3>تغییر آواتار</h3>
              </div>
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-left">
                  <li class="breadcrumb-item">
                    <a href="/user/dashboard">داشبورد</a>
                  </li>
                  <li class="breadcrumb-item active">تغییر آواتار</li>
                </ol>
              </div>
            </div>
          </div>
        </section>

        <section class="content">
          <% if (avatar) { %>
            <div
              class="alert alert-success alert-dismissible fade show w-50 text-right mx-auto"
              role="alert"
            >
              <button
                type="button"
                class="close"
                data-dismiss="alert"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
              <%= avatar %>
            </div>
            <% } %>
          <div class="text-center w-50 m-auto">
            <div class="mt-5">
              <form
                id="uploadForm"
                enctype="multipart/form-data" action="/user/uploadAvatar?_method=PUT"
                method="post"
              >
              <input type="hidden" name="_method" value="PUT" />
                  <div class="file-input col-sm-10">
                    <input type="file" name="avatar" required />
                    <span class='button'>انتخاب تصویر</span>
                    <span class='label' data-js-label>تصویری انتخاب نشده است</label>
                  </div>
                  <input
                  type="submit"
                  value="بارگذاری"
                  name="submit"
                  class="btn btn-success"
                /> 
              </form>
            </div>
            <div>
              <form action="/user/removeAvatar?_method=DELETE" method="post">
                <input type="hidden" name="_method" value="DELETE" />
                <input type="text" class="d-none" value="default" name="default">
                <input type="submit" class="btn btn-danger text-white mt-5" value="حذف آواتار"> 
              </form>
            </div>
          </div>
        </section>
      </div>

      <%- include('../partials/dashboard/footer') %>

      <aside
        class="control-sidebar control-sidebar-dark control-sidebar-animate"
      ></aside>
    </div>
    <%- include('../partials/dashboard/scripts-footer') %>
    <script src="/javascripts/dashboard/addPicture.js"></script>
  </body>
</html>
