<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>مقالات من</title>
    <%- include('../partials/dashboard/scripts-header') %>
    <link rel="stylesheet" href="/stylesheets/dashboard/article.css" />
  </head>
  <body class="hold-transition sidebar-mini">
    <div class="wrapper">
      <%- include('../partials/dashboard/navbar') %> <%-
      include('../partials/dashboard/sidebar') %>

      <div class="content-wrapper mb-5">
        <% let { search, page, order } = req.query %>
        <section class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-4">
                <h3 class="d-inline-block ml-2">ویرایش مقالات</h3>
              </div>
              <div class="col-12 col-sm-8 col-md-8 col-lg-4 mb-2">
                <form
                  class="input-group col-12 col-xl-8 m-auto"
                  style="direction: rtl"
                  action="/article"
                  method="GET"
                >
                  <input
                    type="text"
                    class="form-control rounded"
                    placeholder="جستجو در مقالات..."
                    aria-label="Search"
                    aria-describedby="search-addon"
                    name="search"
                    id="searchBar"
                  />
                </form>
              </div>
              <div class="col-sm-4">
                <ol class="breadcrumb float-sm-left d-none d-lg-flex">
                  <li class="breadcrumb-item">
                    <a href="/user/dashboard">داشبورد</a>
                  </li>
                  <li class="breadcrumb-item active">ویرایش مقالات</li>
                </ol>
              </div>
            </div>
          </div>
        </section>

        <% if (successfullyEdit) { %>
        <div
          class="col-10 col-lg-6 alert alert-success alert-dismissible fade show w-75 text-right mx-auto"
          role="alert"
        >
          <button
            type="button"
            class="close"
            data-dismiss="alert"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
          <%= successfullyEdit %>
        </div>
        <% } %> <% if (successfullyDelete) { %>
        <div
          class="col-10 col-lg-6 alert alert-success alert-dismissible fade show w-75 text-right mx-auto"
          role="alert"
        >
          <button
            type="button"
            class="close"
            data-dismiss="alert"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
          <%= successfullyDelete %>
        </div>
        <% } %>

        <section class="content mt-2">
          <div class="container table-responsive">
            <table class="table table-hover table-fixed">
              <thead style="background-color: #343a40; color: #c2c7d0">
                <tr>
                  <th class="d-none" scope="col"></th>
                  <th class="d-none" scope="col"></th>
                  <% if(order === 'desc') { %>
                  <th scope="col">
                    <a
                      href="/article?search=<%= search %>&page=<%= page %>&order=asc"
                      style="color: inherit"
                      ><i class="fas fa-sort"> #</i></a
                    >
                  </th>
                  <% } %> <% if(order === 'asc') { %>
                  <th scope="col">
                    <a
                      href="/article?search=<%= search %>&page=<%= page %>&order=desc"
                      style="color: inherit"
                      ><i class="fas fa-sort"> #</i></a
                    >
                  </th>
                  <% } %>
                  <th scope="col">عنوان مقاله</th>
                  <th scope="col">خلاصه مقاله</th>
                  <th scope="col">تصویر مقاله</th>
                  <th scope="col">تعداد بازدید</th>
                  <th scope="col">تعداد نظرات</th>
                  <th scope="col">تاریخ ایجاد</th>
                  <th scope="col">آخرین ویرایش</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <% if(articles.length == 0) { %>
                <tr class="text-right">
                  <td>مقاله ای وجود ندارد.</td>
                </tr>
                <% } %> <% for( let index = 0; index < articles.length; index++
                ) { %>
                <tr class="text-right">
                  <th class="d-none"><%= articles[index]._id %></th>
                  <th scope="row"><%= index+1 %></th>
                  <% if(articles[index].title.length > 10) { %>
                  <td>
                    <a href="/article/<%= articles[index]._id %>"
                      ><%= articles[index].title.substring(0,10) %>...</a
                    >
                  </td>
                  <% } else { %>
                  <td>
                    <a href="/article/<%= articles[index]._id %>"
                      ><%= articles[index].title %></a
                    >
                  </td>
                  <% } %> <% if(articles[index].brief.length > 15) { %>
                  <td><%= articles[index].brief.substring(0,15) %>...</td>
                  <% } else { %>
                  <td><%= articles[index].brief %></td>
                  <% } %>

                  <td>
                    <img
                      src="/images/articles/<%= articles[index].picture %>"
                      alt="تصویر مقاله"
                      width="60px"
                      height="40px;"
                    />
                  </td>
                  <td><%= articles[index].viewCounter %></td>
                  <td><%= articles[index].commentCounter %></td>
                  <td>
                    <%= createAt[index].time %> - <%= createAt[index].date %>
                  </td>
                  <td>
                    <%= lastUpdate[index].time %> - <%= lastUpdate[index].date
                    %>
                  </td>
                  <td>
                    <div class="col-2 d-inline-block">
                      <a
                        class="text-warning updateBtn"
                        href="/article/edit/<%= articles[index]._id %> "
                        ><i class="far fa-edit ml-2"></i
                      ></a>
                    </div>
                    <div class="d-inline-block">
                      <form
                        action="/article/<%= articles[index]._id %>?_method=DELETE"
                        method="POST"
                        enctype="application/x-www-form-urlencoded"
                      >
                        <input type="hidden" name="_method" value="DELETE" />
                        <input
                          type="text"
                          class="d-none"
                          name="article_id"
                          value="<%= articles[index]._id %>"
                        />
                        <button
                          class="btn"
                          type="submit"
                          onclick="if (!confirm('آیا برای پاک کردن این مقاله مطمئنی؟')) { return false }"
                        >
                          <i class="text-danger far fa-trash-alt"></i>
                        </button>
                      </form>
                    </div>
                  </td>
                </tr>
                <% } %>
              </tbody>
            </table>
          </div>
        </section>
      </div>
      <nav aria-label="Page navigation example d-flex">
        <% if (pages > 0) { %>
        <ul class="pagination text-center justify-content-center">
          <% if (current == 1) { %>
          <li class="page-item disabled">
            <a class="page-link">اولین</a>
          </li>
          <% } else { %>
          <li>
            <a
              class="page-link"
              href="/article?search=<%= search %>&page=1&order=<%= order %>"
              >اولین</a
            >
          </li>
          <% } %> <% let i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
          <% if (i !== 1) { %>
          <li class="page-item disabled"><a class="page-link">...</a></li>
          <% } %> <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
          <% if (i == current) { %>
          <li class="page-item active">
            <a class="page-link"><%= i %></a>
          </li>
          <% } else { %>
          <li>
            <a
              class="page-link"
              href="/article?search=<%= search %>&page=<%= i %>&order=<%= order %>"
              ><%= i %></a
            >
          </li>
          <% } %> <% if (i == Number(current) + 4 && i < pages) { %>
          <li class="page-item disabled"><a class="page-link">...</a></li>
          <% } %> <% } %> <% if (current == pages) { %>
          <li class="page-item disabled">
            <a class="page-link">آخرین</a>
          </li>
          <% } else { %>
          <li>
            <a
              class="page-link"
              href="/article?search=<%= search %>&page=<%= pages %>&order=<%= order %>"
              >آخرین</a
            >
          </li>
          <% } %>
        </ul>
        <% } %>
      </nav>
      <%- include('../partials/dashboard/footer') %>

      <aside
        class="control-sidebar control-sidebar-dark control-sidebar-animate"
      ></aside>
    </div>
    <%- include('../partials/dashboard/scripts-footer') %>
    <script>
      $(document).ready(() => {
        $(".alert")
          .fadeTo(4000, 500)
          .slideUp(500, function () {
            $(".alert").slideUp(500);
          });
      });
    </script>
  </body>
</html>
