<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>مقالات من</title>
    <%- include('../partials/dashboard/scripts-header') %>
    <link rel="stylesheet" href="/stylesheets/dashboard/article.css" />
  </head>
  <body class="hold-transition sidebar-mini">
    <div class="wrapper">
      <%- include('../partials/dashboard/navbar') %> <%-
      include('../partials/dashboard/sidebar') %>

      <div class="content-wrapper">
        <section class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h3 class="d-inline-block ml-2">ویرایش مقالات</h3>
              </div>

              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-left">
                  <li class="breadcrumb-item">
                    <a href="/user/dashboard">داشبورد</a>
                  </li>
                  <li class="breadcrumb-item active">ویرایش مقالات</li>
                </ol>
              </div>
            </div>
          </div>
        </section>

        <section class="content mt-5">
          <div class="container">
            <table class="table">
              <thead
                style="
                  background-color: #343a40;
                  color: rgba(255, 255, 255, 0.75);
                "
              >
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">عنوان مقاله</th>
                  <th scope="col">خلاصه مقاله</th>
                  <th scope="col">تصویر مقاله</th>
                  <th scope="col">تعداد بازدید</th>
                  <th scope="col">ویرایش</th>
                  <th scope="col">حذف</th>
                </tr>
              </thead>
              <tbody>
                <% for( let index = 0; index < articles.length; index++ ) { %>
                <tr class="text-right">
                  <th scope="row"><%= index+1 %></th>
                  <td><%= articles[index].title %></td>
                  <td><%= articles[index].brief %></td>
                  <td>
                    <img
                      src="/images/articles/<%= articles[index].picture %>"
                      alt="تصویر مقاله"
                      width="60px"
                      height="30px;"
                    />
                  </td>
                  <td><%= articles[index].viewCounter %></td>
                  <td>
                    <a class="text-warning" href="/update"
                      ><i class="far fa-edit"></i
                    ></a>
                  </td>
                  <td>
                    <a
                      class="text-danger"
                      href="/article/delete/<%= articles[index]._id %> "
                    >
                      <i class="far fa-trash-alt"></i
                    ></a>
                  </td>
                </tr>
                <% } %>
              </tbody>
            </table>
          </div>
        </section>
        <div
          class="modal fade bd-example-modal-lg"
          tabindex="-1"
          role="dialog"
          aria-labelledby="myLargeModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-lg">
            <div class="modal-content">...</div>
          </div>
        </div>
      </div>
      <%- include('../partials/dashboard/footer') %>

      <aside
        class="control-sidebar control-sidebar-dark control-sidebar-animate"
      ></aside>
    </div>
    <%- include('../partials/dashboard/scripts-footer') %>
    <script src="/javascripts/dashboard/myArticle.js"></script>
  </body>
</html>
