<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>مقالات من</title>
    <%- include('../partials/dashboard/scripts-header') %>
    <link rel="stylesheet" href="/stylesheets/dashboard/article.css" />
  </head>
  <body class="hold-transition sidebar-mini">
    <div class="wrapper">
      <%- include('../partials/dashboard/navbar') %> <%-
      include('../partials/dashboard/sidebar') %>

      <div class="content-wrapper">
        <section class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h3 class="d-inline-block ml-2">ویرایش مقالات</h3>
              </div>

              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-left">
                  <li class="breadcrumb-item">
                    <a href="/user/dashboard">داشبورد</a>
                  </li>
                  <li class="breadcrumb-item active">ویرایش مقالات</li>
                </ol>
              </div>
            </div>
          </div>
        </section>

        <section class="content mt-5">
          <div class="container">
            <table class="table">
              <thead
                style="
                  background-color: #343a40;
                  color: rgba(255, 255, 255, 0.75);
                "
              >
                <tr>
                  <th class="d-none" scope="col"></th>
                  <th scope="col">#</th>
                  <th scope="col">عنوان مقاله</th>
                  <th scope="col">خلاصه مقاله</th>
                  <th scope="col">تصویر مقاله</th>
                  <th scope="col">تعداد بازدید</th>
                  <th scope="col">ویرایش</th>
                  <th scope="col">حذف</th>
                </tr>
              </thead>
              <tbody>
                <% for( let index = 0; index < articles.length; index++ ) { %>
                <tr class="text-right">
                  <th class="d-none"><%= articles[index]._id %></th>
                  <th scope="row"><%= index+1 %></th>
                  <td><%= articles[index].title %></td>
                  <td><%= articles[index].brief %></td>
                  <td>
                    <img
                      src="/images/articles/<%= articles[index].picture %>"
                      alt="تصویر مقاله"
                      width="60px"
                      height="30px;"
                    />
                  </td>
                  <td><%= articles[index].viewCounter %></td>
                  <td>
                    <a class="text-warning updateBtn" href="#"
                      ><i class="far fa-edit"></i
                    ></a>
                  </td>
                  <td>
                    <a
                      class="text-danger"
                      href="/article/delete/<%= articles[index]._id %> "
                    >
                      <i class="far fa-trash-alt"></i
                    ></a>
                  </td>
                </tr>
                <% } %>
              </tbody>
            </table>
          </div>
        </section>
        <div class="modal" tabindex="-1" id="modalUpdate">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Edit Employee</h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <div
                  class="alert alert-success text-center d-none"
                  role="alert"
                  id="editEmployeeAlert"
                >
                  Your Employee Edited Successfully.
                </div>
                <div
                  class="alert alert-danger text-center d-none"
                  role="alert"
                  id="editEmployeeError"
                >
                  Unable to Edit Employee.
                </div>
                <div class="form-floating mb-3">
                  <input
                    type="text"
                    class="form-control text-capitalize"
                    id="editFirstName"
                  />
                  <label for="editFirstName">First Name</label>
                </div>
                <div class="form-floating mb-3">
                  <input
                    type="text"
                    class="form-control text-capitalize"
                    id="editLastName"
                  />
                  <label for="editLastName">Last Name</label>
                </div>
                <div class="form-floating mb-3">
                  <input
                    type="text"
                    class="form-control text-capitalize"
                    id="editNationalCode"
                  />
                  <label for="editNationalCode">National Code</label>
                </div>
                <div class="form-floating mb-3" id="editGenderDom"></div>
                <div class="form-floating mb-3" id="editManagerDom"></div>
                <div class="form-floating mb-3">
                  <input
                    type="text"
                    class="form-control"
                    id="editBirthdayDate"
                    readonly
                  />
                  <label for="editBirthdayDate">Birthday Date</label>
                  <input type="date" class="form-control" id="birthdayDate" />
                </div>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Close
                </button>
                <button
                  type="button"
                  class="btn btn-primary"
                  id="submitEmployee"
                >
                  Save changes
                </button>
                <button class="btn btn-danger" id="deleteEmployee">
                  Delete
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%- include('../partials/dashboard/footer') %>

      <aside
        class="control-sidebar control-sidebar-dark control-sidebar-animate"
      ></aside>
    </div>
    <%- include('../partials/dashboard/scripts-footer') %>
    <script src="/javascripts/dashboard/article/updateArticle.js"></script>
  </body>
</html>
