<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>ویرایش <%= article.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <%- include('../partials/dashboard/scripts-header') %>
    <link rel="stylesheet" href="/stylesheets/dashboard/addPicture.css" />
    <script src="//cdn.ckeditor.com/4.16.0/full/ckeditor.js"></script>
  </head>
  <body class="hold-transition sidebar-mini">
    <div class="wrapper">
      <%- include('../partials/dashboard/navbar') %> <%-
      include('../partials/dashboard/sidebar') %>

      <div class="content-wrapper">
        <section class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h3>ویرایش <%= article.title %></h3>
              </div>
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-left">
                  <li class="breadcrumb-item">
                    <a href="/user/dashboard">داشبورد</a>
                  </li>
                  <li class="breadcrumb-item active">ویرایش <%= article.title %></li>
                </ol>
              </div>
            </div>
          </div>
        </section>

        <section class="content mt-5 mb-5">
          <form
            method="post"
            action="/article/update"
            enctype="multipart/form-data"
            class="w-75 mx-auto mb-5"
          >
            <% if (msg === "error") { %>
            <div class="alert alert-danger w-25" role="alert" id="alertDanger">
              خطا
            </div>
            <% } %>
            <% if (msg === "invalid-title") { %>
              <div class="alert alert-danger w-25" role="alert" id="alertDanger">
                عنوان مقاله نامعتبر
              </div>
              <% } %>
            <input class="d-none" type="text" name="id" id="articleId" value="<%= article._id %>">
            <div class="form-group row w-50">
              <label class="col-sm-2 col-form-label" for="title"
                >عنوان مقاله:
              </label>
              <div class="col-sm-10">
                <input
                  type="text"
                  class="form-control"
                  name="title"
                  id="articleTitle"
                  pattern=".{3,50}" required
                  oninvalid="setCustomValidity('عنوان مقاله را وارد کنید')" 
                  oninput="setCustomValidity('')" title="عنوان مقاله باید بین 3 تا 50 کاراکتر باشد"
                  value="<%= article.title %>"
                />
              </div>
            </div>
            <div class="form-group row w-50">
              <label class="col-sm-2 col-form-label" for="brief"
                >خلاصه مقاله:
              </label>
              <div class="col-sm-10">
                <input
                  type="text"
                  class="form-control"
                  name="brief"
                  id="articleBrief"
                  pattern=".{5,100}" required
                  oninvalid="setCustomValidity('خلاصه مقاله را وارد کنید')" 
                  oninput="setCustomValidity('')" title="خلاصه مقاله باید بین 3 تا 50 کاراکتر باشد"
                  value="<%= article.brief %>"
                 
                />
              </div>
            </div>
            <div class="form-group row w-50">
              <label for="" class="col-sm-2 col-form-label"
                >تصویر مقاله:
              </label>
              <div class="file-input col-sm-10">
                <input type="file" name="picture" />
                <span class='button'>انتخاب تصویر</span>
                <span class='label' data-js-label>تصویری انتخاب نشده است</label>
              </div>
            </div>
            <div class="form-group row w-50">
                <input type="text" class="d-none" value="<%= article.picture %>" name="prePic">
                <img src="/images/articles/<%= article.picture %>" alt="تصویر مقاله" width="100px" height="60px">
            </div>
            <input
              type="text"
              value=""
              name="describe"
              id="hiddenInput"
              class="d-none"
              required
            />
            <input
              type="submit"
              class="btn btn-success d-none"
              id="submitBtn"
              value="ذخیره"
            />
          </form>
         <input class="d-none" type="text" id="describeValue" value="<%= article.describe %>">
          <div class="col-sm-12 w-75 mx-auto">
            <textarea name="editor1" required></textarea>
          </div>
          <div class="col-sm-12 w-75 mx-auto">
            <button
              class="btn btn-success mt-3 ml-3"
              id="secondaryButton"
              onclick="submitFunc()"
            >
              ذخیره
            </button>
            <a
            class="btn btn-secondary mt-3"
            href="/user/dashboard"
          >
            انصراف
          </a>
          </div>
        </section>
      </div>

      <%- include('../partials/dashboard/footer') %>

      <aside
        class="control-sidebar control-sidebar-dark control-sidebar-animate"
      ></aside>
    </div>
    <%- include('../partials/dashboard/scripts-footer') %>
    <script src="/javascripts/dashboard/article/editArticle.js"></script>
    <script src="/javascripts/dashboard/addPicture.js"></script>
  </body>
</html>
