<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>مقالات من</title>
    <%- include('../partials/dashboard/scripts-header') %>
    <link rel="stylesheet" href="/stylesheets/dashboard/article.css" />
  </head>
  <body class="hold-transition sidebar-mini">
    <div class="wrapper">
      <%- include('../partials/dashboard/navbar') %> <%-
      include('../partials/dashboard/sidebar') %>

      <div class="content-wrapper">
        <section class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h3 class="d-inline-block ml-2">مقالات من</h3>
                <span class="d-inline-block ml-1">صفحه</span
                ><span class="d-inline-block" id="articleSpan">1</span>
              </div>
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-left">
                  <li class="breadcrumb-item">
                    <a href="/user/dashboard">داشبورد</a>
                  </li>
                  <li class="breadcrumb-item active">مقالات من</li>
                </ol>
              </div>
            </div>
          </div>
        </section>

        <section class="content mt-5">
          <div class="card-deck">
            <% for( let index = 0; index < articles.length; index++ ) { %>
            <div class="col-12 col-sm-6 col-lg-4">
              <div
                class="card"
                style="
                  background: linear-gradient(rgb(0 0 0 / 0%), rgb(0 0 0 / 55%)),
                    url('/images/articles/<%= articles[index].picture %>');
                "
              >
                <div class="card-time">
                  <%= createTime[index].time %> - <%= createTime[index].date %>
                </div>
                <div class="card-description">
                  <h2><%= articles[index].title %></h2>
                  <p><%= articles[index].brief %></p>
                </div>
                <img
                  class="card-user avatar avatar-large"
                  src="/images/avatars/<%= user.avatar %>"
                />
                <a
                  class="card-link"
                  href="/article/view/<%= articles[index]._id %>"
                ></a>
              </div>
            </div>
            <% } %>
          </div>
          <p id="allArticle" class="d-none"><%= arts %></p>
          <p id="myUsername" class="d-none"><%= user.username %></p>
        </section>
      </div>
      <nav aria-label="Page navigation example d-flex">
        <ul class="pagination justify-content-center mb-5" id="pagination"></ul>
      </nav>
      <%- include('../partials/dashboard/footer') %>

      <aside
        class="control-sidebar control-sidebar-dark control-sidebar-animate"
      ></aside>
    </div>
    <%- include('../partials/dashboard/scripts-footer') %>
    <script src="/javascripts/dashboard/myArticle.js"></script>
  </body>
</html>
