<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title><%= article.title %></title>
    <%- include('../partials/dashboard/scripts-header') %>
    <link rel="stylesheet" href="/stylesheets/emojionearea.css" />
  </head>
  <body class="hold-transition sidebar-mini">
    <div class="wrapper">
      <%- include('../partials/dashboard/navbar') %> <%-
      include('../partials/dashboard/sidebar') %>

      <div class="content-wrapper mb-5">
        <section class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6"></div>
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-left">
                  <li class="breadcrumb-item">
                    <a href="/user/dashboard">داشبورد</a>
                  </li>
                  <li class="breadcrumb-item active"><%= article.title %></li>
                </ol>
              </div>
            </div>
          </div>
        </section>

        <section class="content m-auto text-center">
          <% let { page } = req.query %>
          <div class="container">
            <% if (messages) { %>
            <div
              class="alert alert-danger alert-dismissible fade show w-50 text-right mx-auto"
              role="alert"
            >
              <button
                type="button"
                class="close"
                data-dismiss="alert"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
              <%= messages %>
            </div>
            <% } %> <% if (successfullyAdded) { %>
            <div
              class="alert alert-success alert-dismissible fade show w-50 text-right mx-auto"
              role="alert"
            >
              <button
                type="button"
                class="close"
                data-dismiss="alert"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
              <%= successfullyAdded %>
            </div>
            <% } %>
            <div class="row">
              <div class="col-lg-12">
                <h1 class="mt-4"><%= article.title %></h1>

                <p class="lead">
                  نویسنده:
                  <a href="#"
                    ><%= article.author.firstName %> <%= article.author.lastName
                    %>
                  </a>
                  <% if (article.author.avatar === "default") { %>
                  <img
                    src="/images/avatar.png"
                    alt="تصویر پروفایل نویسنده"
                    style="
                      width: 30px !important;
                      border-radius: 50% !important;
                    "
                  />
                  <%} else { %>
                  <img
                    src="/images/avatars/<%= article.author.avatar %> "
                    alt="تصویر پروفایل نویسنده"
                    style="
                      width: 30px !important;
                      border-radius: 50% !important;
                    "
                  />
                  <% } %>
                </p>

                <hr />
                <div class="d-flex justify-content-between">
                  <div class="my-auto">
                    <h5 class="float-right"><%= article.brief %></h5>
                    <br />
                    <br />

                    <p class="float-right text-muted">
                      ارسال شده در تاریخ: <%= createTime.date %> ساعت : <%=
                      createTime.time %>
                    </p>
                    <br /><br />
                    <p
                      class="float-right d-inline-block text-muted font-weight-lighter ml-2"
                    >
                      تعداد بازدید: <%= art.viewCounter %>
                    </p>
                    <p class="float-right d-inline-block ml-2">-</p>
                    <p
                      class="float-right d-inline-block text-muted font-weight-lighter"
                    >
                      تعداد نظرات: <%= art.commentCounter %>
                    </p>
                  </div>

                  <div class="">
                    <img
                      src="/images/articles/<%= article.picture %>"
                      alt="تصویر پست مقاله"
                      style="
                        width: 220px !important;
                        height: 120px !important;
                        border-radius: 8% !important;
                      "
                    />
                  </div>
                </div>

                <hr />

                <div class="mx-auto d-none" id="describe">
                  <%= article.describe %>
                </div>
                <div id="desc"></div>
              </div>
            </div>
          </div>

          <div class="container mt-5">
            <p class="text-right font-weight-bold">نظرات</p>
            <hr />
            <% if(comments.length === 0) { %>
            <p class="text-right">نظری ارسال نشده است.</p>
            <% } %> <% for( let index = 0; index < comments.length; index++) {
            %>
            <div class="p-2">
              <div class="d-flex flex-row user-info">
                <% if (comments[index].author.avatar === "default") { %>
                <img
                  src="/images/avatar.png"
                  alt="تصویر پروفایل نظر دهنده"
                  style="
                    width: 40px !important;
                    height: 40px !important;
                    border-radius: 50% !important;
                  "
                />
                <%} else { %>
                <img
                  src="/images/avatars/<%= comments[index].author.avatar %>"
                  class="ml-3"
                  alt="تصویر پروفایل نظر دهنده"
                  style="
                    width: 40px !important;
                    height: 40px !important;
                    border-radius: 50% !important;
                  "
                />
                <% } %>
                <div class="d-flex flex-column justify-content-start ml-2">
                  <span class="d-block font-weight-bold name"
                    ><%= comments[index].author.firstName %> <%-
                    comments[index].author.lastName %></span
                  ><span class="date text-black-50"
                    ><%= commentCreateTime[index].time %> - <%=
                    commentCreateTime[index].date %></span
                  >
                </div>
              </div>
              <div class="mt-2">
                <p class="comment-text text-right">
                  <%= comments[index].body %>
                </p>
              </div>
            </div>
            <% } %>
            <nav aria-label="Page navigation example">
              <% if (pages > 0) { %>
              <ul class="pagination pagination-sm">
                <% if (current == 1) { %>
                <li class="page-item disabled">
                  <a class="page-link">اولین</a>
                </li>
                <% } else { %>
                <li>
                  <a class="page-link" href="/article/<%= article._id %>?page=1"
                    >اولین</a
                  >
                </li>
                <% } %> <% let i = (Number(current) > 5 ? Number(current) - 4 :
                1) %> <% if (i !== 1) { %>
                <li class="page-item disabled"><a class="page-link">...</a></li>
                <% } %> <% for (; i <= (Number(current) + 4) && i <= pages; i++)
                { %> <% if (i == current) { %>
                <li class="page-item active">
                  <a class="page-link"><%= i %></a>
                </li>
                <% } else { %>
                <li>
                  <a
                    class="page-link"
                    href="/article/<%= article._id %>?page=<%= i %>"
                    ><%= i %></a
                  >
                </li>
                <% } %> <% if (i == Number(current) + 4 && i < pages) { %>
                <li class="page-item disabled"><a class="page-link">...</a></li>
                <% } %> <% } %> <% if (current == pages) { %>
                <li class="page-item disabled">
                  <a class="page-link">آخرین</a>
                </li>
                <% } else { %>
                <li>
                  <a
                    class="page-link"
                    href="/article/<%= article._id %>?page=<%= pages %>"
                    >آخرین</a
                  >
                </li>
                <% } %>
              </ul>
              <% } %>
            </nav>
          </div>

          <div class="container mt-2">
            <div class="d-flex justify-content-center row">
              <div class="col-md-8">
                <div class="d-flex flex-column comment-section">
                  <div class="p-2">
                    <form action="/article/comment" method="post">
                      <div class="d-flex flex-row align-items-start">
                        <input
                          type="text"
                          class="d-none"
                          name="article_id"
                          value="<%= article._id %>"
                        />
                        <textarea
                          class="form-control ml-1 shadow-none textarea text-right"
                          name="comment"
                          id="example1"
                        ></textarea>
                        <div class="row">
                          <div class="col">
                            <% if (user.avatar === "default") { %>
                            <img
                              src="/images/avatar.png"
                              alt="تصویر پروفایل نظر دهنده"
                              style="
                                width: 30px !important;
                                border-radius: 50% !important;
                              "
                            />

                            <%} else { %>
                            <img
                              src="/images/avatars/<%= user.avatar %>"
                              alt="تصویر پروفایل نظر دهنده"
                              class=""
                              style="
                                width: 30px !important;
                                border-radius: 50% !important;
                              "
                            />
                            <% } %>
                          </div>
                          <div class="w-100"></div>
                          <div class="col">
                            <div id="divOutside" class="divOutside mt-2"></div>
                          </div>
                        </div>
                        <input
                          type="submit"
                          class="d-none"
                          value="submit"
                          id="submit"
                        />
                      </div>
                    </form>

                    <div class="mt-2 text-right">
                      <button
                        class="btn btn-primary btn-sm ml-2 shadow-none"
                        type="button"
                        id="submitBtn"
                      >
                        ارسال نظر</button
                      ><button
                        class="btn btn-outline-primary btn-sm shadow-none"
                        type="button"
                        id="cancelBtn"
                      >
                        لغو
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>

      <%- include('../partials/dashboard/footer') %>

      <aside
        class="control-sidebar control-sidebar-dark control-sidebar-animate"
      ></aside>
    </div>
    <%- include('../partials/dashboard/scripts-footer') %>
    <script src="/javascripts/emojionearea.min.js"></script>
    <script src="/javascripts/dashboard/article/singleArticle.js"></script>
  </body>
</html>
