<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>نظرات</title>
    <%- include('../../partials/dashboard/scripts-header') %>
    <link rel="stylesheet" href="/stylesheets/dashboard/article.css" />
  </head>
  <body class="hold-transition sidebar-mini">
    <div class="wrapper">
      <%- include('../../partials/dashboard/navbar') %> <%-
      include('../../partials/dashboard/sidebar') %>

      <div class="content-wrapper mb-5">
        <section class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-4">
                <h3 class="d-inline-block ml-2">نظرات</h3>
                <% let { search, page, order } = req.query %>
              </div>
              <div class="col-12 col-sm-8 col-md-8 col-lg-4 mb-2">
                <form
                  class="input-group col-12 col-xl-8 m-auto"
                  style="direction: rtl"
                  action="/article/comment/all"
                  method="GET"
                >
                  <input
                    type="text"
                    class="form-control rounded"
                    placeholder="جستجو در نظرات..."
                    aria-label="Search"
                    aria-describedby="search-addon"
                    name="search"
                    id="searchBar"
                  />
                </form>
              </div>
              <div class="col-sm-4">
                <ol class="breadcrumb float-sm-left d-none d-lg-flex">
                  <li class="breadcrumb-item">
                    <a href="/user/dashboard">داشبورد</a>
                  </li>
                  <li class="breadcrumb-item active">نظرات</li>
                </ol>
              </div>
            </div>
          </div>
        </section>
        <section class="content mt-2">
          <div class="container table-responsive">
            <% if (successfullyDelete) { %>
            <div
              class="col-10 col-lg-6 alert alert-success alert-dismissible fade show w-75 text-right mx-auto"
              role="alert"
            >
              <button
                type="button"
                class="close"
                data-dismiss="alert"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
              <%= successfullyDelete %>
            </div>
            <% } %>
            <table class="table table-hover table-fixed">
              <thead style="background-color: #343a40; color: #c2c7d0">
                <tr class="text-center">
                  <th class="d-none" scope="col"></th>
                  <% if(order === 'desc') { %>
                  <th scope="col">
                    <a
                      href="/article/comment?search=<%= search %>&page=<%= page %>&order=asc"
                      style="color: inherit"
                      ><i class="fas fa-sort"> #</i></a
                    >
                  </th>
                  <% } %> <% if(order === 'asc') { %>
                  <th scope="col">
                    <a
                      href="/article/comment?search=<%= search %>&page=<%= page %>&order=desc"
                      style="color: inherit"
                      ><i class="fas fa-sort"> #</i></a
                    >
                  </th>
                  <% } %>
                  <th scope="col">عنوان مقاله</th>
                  <th scope="col">آواتار نویسنده</th>
                  <th scope="col">نویسنده نظر</th>

                  <th scope="col">متن نظر</th>
                  <th scope="col">تاریخ ارسال</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <% if(comments.length == 0) { %>
                <tr class="text-right">
                  <td>نظری وجود ندارد.</td>
                </tr>
                <% } %> <% for( let index = 0; index < comments.length; index++
                ) { %>
                <tr class="text-center">
                  <th class="d-none"><%= comments[index]._id %></th>
                  <th scope="row"><%= index+1 %></th>
                  <% if(comments[index].article.title.length > 15) { %>
                  <td
                    data-toggle="tooltip"
                    data-placement="bottom"
                    title="<%= comments[index].article.title %>"
                  >
                    <a href="/article/<%= comments[index].article._id %>"
                      ><%= comments[index].article.title.substring(0,15)
                      %>...</a
                    >
                  </td>
                  <% } else { %>
                  <td>
                    <a href="/article/<%= comments[index].article._id %>"
                      ><%= comments[index].article.title %></a
                    >
                  </td>
                  <% } %>

                  <td>
                    <% if (comments[index].author.avatar === "default") { %>
                    <img
                      src="/images/avatar.png"
                      alt="تصویر کاربر"
                      style="
                        width: 40px !important;
                        height: 40px !important;
                        border-radius: 50% !important;
                      "
                    />
                    <%} else { %>
                    <img
                      src="/images/avatars/<%= comments[index].author.avatar %>"
                      alt="تصویر کاربر"
                      style="
                        width: 40px !important;
                        height: 40px !important;
                        border-radius: 50% !important;
                      "
                    />
                    <% } %>
                  </td>
                  <td>
                    <%= comments[index].author.firstName %> <%=
                    comments[index].author.lastName %>
                  </td>
                  <% if(comments[index].body.length > 30) { %>
                  <td
                    data-toggle="tooltip"
                    data-placement="bottom"
                    title="<%= comments[index].body %>"
                  >
                    <%= comments[index].body.slice(0,30) %>...
                  </td>
                  <% } else { %>
                  <td><%= comments[index].body %></td>
                  <% } %>

                  <td>
                    <%= createTime[index].time %> - <%= createTime[index].date
                    %>
                  </td>
                  <td>
                    <form
                      action="/article/comment/<%= comments[index]._id %>?_method=DELETE"
                      method="POST"
                    >
                      <input
                        type="hidden"
                        name="_method"
                        value="DELETE"
                        enctype="application/x-www-form-urlencoded"
                      />
                      <input
                        type="text"
                        class="d-none"
                        name="article_id"
                        value="<%= comments[index].article._id %>"
                      />
                      <button
                        class="btn"
                        type="submit"
                        onclick="if (!confirm('آیا برای پاک کردن این نظر مطمئنی؟')) { return false }"
                      >
                        <i class="text-danger far fa-trash-alt"></i>
                      </button>
                    </form>
                  </td>
                </tr>
                <% } %>
              </tbody>
            </table>
          </div>
        </section>
      </div>
      <nav aria-label="Page navigation example d-flex">
        <% if (pages > 0) { %>
        <ul class="pagination text-center justify-content-center">
          <% if (current == 1) { %>
          <li class="page-item disabled">
            <a class="page-link">اولین</a>
          </li>
          <% } else { %>
          <li>
            <a
              class="page-link"
              href="/article/comment/all/?search=<%= search %>&page=1&order=<%= order %>"
              >اولین</a
            >
          </li>
          <% } %> <% let i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
          <% if (i !== 1) { %>
          <li class="page-item disabled"><a class="page-link">...</a></li>
          <% } %> <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
          <% if (i == current) { %>
          <li class="page-item active">
            <a class="page-link"><%= i %></a>
          </li>
          <% } else { %>
          <li>
            <a
              class="page-link"
              href="/article/comment/all/?search=<%= search %>&page=<%= i %>&order=<%= order %>"
              ><%= i %></a
            >
          </li>
          <% } %> <% if (i == Number(current) + 4 && i < pages) { %>
          <li class="page-item disabled"><a class="page-link">...</a></li>
          <% } %> <% } %> <% if (current == pages) { %>
          <li class="page-item disabled">
            <a class="page-link">آخرین</a>
          </li>
          <% } else { %>
          <li>
            <a
              class="page-link"
              href="/article/comment/all/?search=<%= search %>&page=<%= pages %>&order=<%= order %>"
              >آخرین</a
            >
          </li>
          <% } %>
        </ul>
        <% } %>
      </nav>

      <%- include('../../partials/dashboard/footer') %>

      <aside
        class="control-sidebar control-sidebar-dark control-sidebar-animate"
      ></aside>
    </div>
    <%- include('../../partials/dashboard/scripts-footer') %>
    <script>
      $(document).ready(() => {
        $(".alert")
          .fadeTo(2000, 500)
          .slideUp(500, function () {
            $(".alert").slideUp(500);
          });
      });
    </script>
  </body>
</html>
